

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">

      <form method="GET">
        Address: <input type="text" name="address"><br/>
        <input type="submit" value="Submit" />
    </form>

    </div>
  </div>
</div>

{% for year in final_data %}
<div class="col-lg-4">
  <div class="card"  >
    <img class="card-img-top" src="{{year.img_url}}" alt="Card image cap" height="300">
    </div>
  </div>



{% endfor %}

{% endblock content %}

</body>
