

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">
<body>
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <form method="GET">
      <div class="row text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-6 pr-0">
          <div class="form-group" >
            <input type="text" class="form-control" name="address" aria-describedby="address" placeholder="Enter address">
          </div>
         
        </div>
        <div class="col-lg-2"> <input type="submit" class="btn btn-primary" value="Search" /></div>
      </div>
   
      </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      {% if locationData %}
      <iframe src="//maps.google.com/maps?q={{locationData.latitude}},{{locationData.longitude}}&z=15&output=embed" allowfullscreen="true" style="width: 100% !important; height: 400px;"></iframe>
     {% endif %}
    
     </div> 
      <div class="col-lg-7">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            2021
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for year in availableYears %}
            <a class="dropdown-item" href="#">{{year}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          {% for year in final_data %}
          <div class="col-lg-4">
            <div class="card"  >
              <img class="card-img-top" src="{{year.img_url}}" alt="Card image cap" height="300">
              </div>
            </div>
        {% endfor %}
        </div>
      
      </div>
  </div>
</div>



{% endblock content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</body>
